<div id="homepage-container">
  <div id="categorylist-left-column">
    <h2 align="center">Departments</h2>
    <hr>
    <ul class='cat-list'>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>

  <div id="itemslist-center-column">
    <h2 align="center">Popular Items</h2>
    <hr>
    <ul class='item-list'>
      <% @items.each do |item| %>
        <p>
          <%= link_to item.name%>
          <%= item.description %>
          (Price $<%= item.price %>.00)
          </p>
      <% end %>
    </ul>
  </div>

  <div id="friendfeed-right-column">
    <h2 align="center">What Your Friends Are Buying</h2>
    <hr>
  </div>

  <div class="footer">


  </div>
</div>
