<h1><%= @category.name %></h1>

<div id="category-items">
  <ul>
    <% @category.items.order(:updated_at).each do |item| %>
      <li><%= link_to item.name, item_path(item) %></li><br>
    <% end %>
  </ul>
</div>
